
body {
   font-family: Helvetica, sans-serif !important; 
   font-size: 14px !important;
   font-weight: 300 !important;
}
h3{
    font-size: 24px !important;
    font-weight: 700 !important;
}
button, .btn {
    font-size: 14px !important;
    border-radius: 2px !important;
}
.btn-success {
    background-color: #5CB85F !important;
    border-color: #5CB85F !important;
}
.btn-blue{
    background-color: #0D28A6 !important;
    border-color: #0D28A6 !important;
    color: #fff !important;
}
.btn-outlined-blue{
    background-color: #fff !important;
    border-color: #0D28A6 !important;
    color: #0D28A6 !important;
    font-weight: bold !important;
}
.content {
    margin: 0px auto;
    max-width: 1400px;
}
.header-navbar nav {
    flex-basis: 90%;
    text-align: right;
}
.header-navbar nav ul {
    padding: 0px;
    margin-bottom: 0px;
}
.header-navbar nav li {
    display: inline;
    margin-left: 32px;
}
.header-navbar nav a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.nav-toggle {
    display: none !important;
}
.nav-toggle-close {
    display: none !important;
}
#minus55, .minus55 {
    margin-bottom: -55px;
}
.header-navbar {
    display: flex;
    padding: 25px 80px;
    background-color: #F1F3FF;
}
#hero {
    display: flex;
    background-color: #F1F3FF;
    padding-left: 80px;
}
#hero img {
    flex-basis: 50%;
    /* max-width: 704px;
    height: min-content;
    width: min-content;
    min-width: 50px;
    min-height: 50px; */
    width: 100%;
    height: 100%;
}
.hero-text {
    flex-basis: 50%;
    padding: 50px 10px 50px 0px;
}
.hero-text * {
    margin-bottom: 16px;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.hero-text p {
    width: 70%;
}
#service {
    display: flex;
    margin: 100px 120px;
}
.service-img img {
    flex-basis: 40%;
}
.service-desc {
    flex-basis: 60%;
    padding-left: 80px;
    margin: 50px 50px 50px 0px;
}
.service-desc h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.service-desc-list {
    margin-bottom: 10px;
}
#whyus {
    margin: 100px 80px;
}
#whyus h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.whyus-group {
    display: flex;
}
.whyus-group .card {
    margin-right: 30px;
}
#testimonial {
    margin: 100px 0px;
}
#testimonial * {
    position: relative;
}
.title-testi {
    text-align: center;
}
.title-testi h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.list-testi {
    display: flex;
    min-width: max-content;
    margin: auto;
    right: 10%;
}
.testi {
    background-color: #F1F3FF;
    max-width: 600px;
    display: flex;
    margin: 10px 20px;
    padding: 50px 30px;
    border-radius: 10px;
}
.testi .testi-img {
    margin: 30px 0px;
}
.testi .testi-desc {
    text-align: justify;
    margin: 0px 20px;
}
.testi-desc .testi-desc-profil {
    font-weight: bold;
}
.button-testi {
    display: flex;
    width: 50%;
    margin: auto;
}
.button-testi-left, .button-testi-right {
    padding: 10px;
}
.button-testi-left {
    flex-basis: 50%;
    text-align: right;
}
.button-testi-right {
    flex-basis: 50%;
}
#faq {
    display: flex;
    margin: 100px 80px;
}
.faq-text {
    flex-basis: 40%;
}
.faq-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.faq-list {
    flex-basis: 60%;
}
.card-faq {
    display: flex;
    border: 1px solid #00000020;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.card-faq-text {
    flex-basis: 100%;
}
#cta-banner {
    padding: 80px 100px;
    margin: 80px 130px;
    background-color: #0D28A6;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
#cta-banner h3 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}
#cta-banner p {
    width: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 50px 80px;
    background-color: #fff;
}
footer * {
    flex-basis: 25%;
    display: block;
    margin: 10px 5px 0px 0px;
}
footer #address * {
    margin-bottom: 13px;
}
footer #nav * {
    margin-bottom: 10px;
    font-weight: 400;
}
footer #sosmed .sosmed-group {
    display: flex;
}
footer #sosmed .sosmed-group * {
    flex-basis: auto;
}
footer #nav li a{
    text-decoration: none;
    color: #000;
}

/* some added feature */

.cari-mobil{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-end;
    /* z-index: 1021; */
}

.hasil-pencarian {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, minmax(0,1fr));
}

.car-detail{
    display: flex;
    gap: 24px;
}
.car-detail-desc{
    width: 60%;
}
.car-detail-checkout{
    width: 40%;
}

#chart-mobil{
    margin: 100px 80px;
    display: flex;
    justify-content: center;
}

#nav-tiket{
    display: flex;
    padding: 0 150px;
    padding-top: 10px;
    background-color: #F1F3FF;
    justify-content: space-between;
}

#invoice{
    width: 605px;
    margin: 40px auto;
}

@media screen and (max-width: 768px) {
    html{
        overflow-x: hidden;
    }
    .content{
        overflow-x: hidden;
    }
    #hero, .header-navbar{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header-navbar nav {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh !important;
        width: 50%;
        background: #fff;
        justify-content: center;
        padding: 20px 0px;
        transform: translateX(100%);
        transition: all 0.5s;
        z-index: 1024;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    nav li { 
        margin: 15px 10px;
        text-align: left;
    }
    nav.toggled{
        transform: translateX(0);
    }
    .nav-toggle{
        display: block !important;
        flex-basis: 90%;
        text-align: right !important;
    }
    .nav-toggle-close{
        display: block !important;
    }
    #nav-tiket{
        padding: 10px 0;
        display: block;
    }
    #nav-tiket div {
        margin: 0 auto;
    }
    #nav-tiket div:first-child {
        justify-content: center;
    }
    #nav-tiket div:first-child a{
        display: none;
    }
    #nav-tiket div:first-child div {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    #hero{
        display: block;
    }
    
    #service {
        display: block;
    }
    .service-img {
        text-align: center;
    }
    .service-img img{
        max-width: 250px;
        text-align: center;
    }
    .whyus-group {
        display: block;
    }
    .whyus-group .card {
        min-width: 100%;
        margin-bottom: 10px;
    }
    #cta-banner p {
        width: 100%;
    }
    #faq {
        display: block;
    }
    footer {
        display: block;
        padding: 50px 80px;
    }
    .hasil-pencarian {
        display: block;
    }
    .hasil-pencarian .card {
        margin-bottom: 20px;
    }
    .car-detail {
        flex-direction: column;
    }
    .car-detail-desc, .car-detail-checkout{
        width: 100%;
    }
}